@inject IApiClient Api

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="">Cover</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="add">Add Expense</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="history">History</NavLink>
                </li>
            </ul>
            <button class="btn btn-outline-light btn-sm ms-auto" @onclick="Logout">Logout</button>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout() => await Api.LogoutAsync();
}
